body{
    text-align: center;
}
button{
    background-color: red;
    color: whitesmoke;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 20px 80px;
    padding: 10px 10px;
}
