body{
    text-align: center;
    background-color: aliceblue;
}
button{
    background-color: red;
    color: whitesmoke;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 20px 80px;
    padding: 10px 10px;
}
.wrapper {
    width: 320px;
    margin: 120px auto;
    padding: 25px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 8px 14px rgba(0, 0, 0, 0.18);
}