body{
    text-align: center;
    background-color: rgb(245, 239, 239);
}
button{
    background-color: red;
    color: whitesmoke;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 20px 80px;
    padding: 10px 10px;
}
.container {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}